*.o
*.lo
*.la
*.swp
aclocal.m4
config.log
config.status
config.sub
configure
depcomp
missing
autom4te.cache
config.guess
install-sh
libtool
ltmain.sh
.libs
.deps
Makefile
Makefile.in
nabss
nafil
namone
train-namone
test-nafil
libtool.m4
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
compile
