*.o
*.lo
*.la
*.swp
aclocal.m4
config.log
config.status
config.sub
configure
depcomp
missing
autom4te.cache
config.guess
install-sh
libtool
ltmain.sh
m4
.libs
.deps
Makefile
Makefile.in
nabss
nafil
namone
train-namone
test-nafil
